@import url(../fonts/roboto/stylesheet.css);
@import url(../fonts/roboto-medium/stylesheet.css);
@import url(../fonts/roboto-light/stylesheet.css);
.login-page {
  background: #11171b; }
  .login-page .logo-wrap {
    padding-top: 30px;
    padding-bottom: 30px; }
  .login-page .logo {
    width: 108.641px;
    height: 52.81px; }
  .login-page-content {
    display: flex;
    flex-flow: column;
    align-items: center; }
  .login-page .btn-wrap {
    text-align: center; }

body {
  color: #111;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  font: 15px Roboto, sans-serif;
  line-height: 1.6;
  background: #f5f5f5; }

div {
  box-sizing: border-box; }

h4 {
  font: 16px RobotoMedium, sans-serif;
  margin-top: 0;
  margin-bottom: 11px; }

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  margin-right: -50%;
  transform: translate(-50%, -50%); }
  .modal:focus {
    outline: none; }
  .modal .close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background: transparent;
    border: 0; }
    .modal .close-btn:before {
      content: '\2573';
      font-size: 10px; }

.form,
.modal {
  width: 100%;
  max-width: 339px;
  box-sizing: border-box;
  text-align: left;
  padding: 18px 27px 25px;
  background: #fff;
  border-radius: 4px;
  box-shadow: 0 0 18px rgba(0, 0, 0, 0.02); }
  .form.login-form,
  .modal.login-form {
    margin-bottom: 100px; }
  .form p,
  .modal p {
    margin-bottom: 0; }

label, h5 {
  color: #a8acaf;
  font-size: 13px;
  line-height: 23px;
  margin-top: 4px; }

h5 {
  font-weight: normal;
  margin: 0; }

.btn-wrap {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding-top: 24px; }
  .btn-wrap.center {
    justify-content: center; }
  .btn-wrap.left {
    justify-content: flex-start; }
  .btn-wrap .button {
    margin-left: 10px; }
    .btn-wrap .button:first-child {
      margin-left: 0; }
    .btn-wrap .button.left {
      margin-right: auto; }
  .btn-wrap.left {
    text-align: left; }
    .btn-wrap.left .button {
      margin-left: 0;
      margin-right: 10px; }
      .btn-wrap.left .button:last-child {
        margin-right: 0; }

input, textarea, select, label {
  box-sizing: border-box; }

input[type=text],
input[type=password],
input[type=date],
input[type=time],
input[type=number],
input[type=email],
input[type=tel],
select {
  height: 28px;
  width: 100%;
  border: none;
  border-radius: 3px;
  color: #434444;
  font-size: 14px;
  line-height: 1.57;
  padding: 3px 7px;
  background: #e8edf0; }
  input[type=text]:focus,
  input[type=password]:focus,
  input[type=date]:focus,
  input[type=time]:focus,
  input[type=number]:focus,
  input[type=email]:focus,
  input[type=tel]:focus,
  select:focus {
    outline: 0; }

.radio-wrap {
  display: flex;
  align-items: center;
  height: 50px; }
  .radio-wrap label {
    margin-right: 10px;
    display: flex;
    align-items: center; }
    .radio-wrap label:last-child {
      margin-right: 0; }
    .radio-wrap label input {
      margin-left: 10px; }

textarea {
  display: block;
  resize: none;
  height: 79px;
  width: 100%;
  border: none;
  border-radius: 3px;
  color: #434444;
  font-size: 15px;
  line-height: 1.57;
  padding: 3px 7px;
  background: #e8edf0; }
  textarea:focus {
    outline: 0; }

.button {
  width: 100%;
  max-width: 183px;
  display: inline-block;
  box-sizing: border-box;
  color: #fff !important;
  font: 11px RobotoMedium, sans-serif;
  line-height: 16px;
  text-transform: uppercase;
  text-align: center;
  padding: 6px 15px;
  border: none;
  border-radius: 3px;
  background: #11caad;
  transition: all .4s ease;
  cursor: pointer; }
  .button:hover {
    background: #13e2c1; }
  .button.grey {
    color: #11171b !important;
    background-color: #e5e5e5; }
    .button.grey:hover {
      background: #d8d8d8; }
  .button.small {
    max-width: 88px; }

.page {
  min-height: 100vh; }

.container {
  width: 100%;
  max-width: 1170px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto; }

a, span {
  color: #68f2dd;
  text-decoration: none;
  cursor: pointer; }
  a:hover, a:focus, a:visited, span:hover, span:focus, span:visited {
    color: #68f2dd;
    text-decoration: underline; }

h1 {
  font: 27px RobotoLight, sans-serif;
  margin-bottom: 21px; }

h2 {
  color: #969595;
  font: 19px RobotoMedium, sans-serif;
  margin-top: 0;
  margin-bottom: 0; }

h3 {
  font: 19px RobotoLight, sans-serif;
  margin: 52px 0 21px; }
  h3:first-of-type {
    margin-top: 0; }

p {
  margin: 0 0 21px 0; }

ul {
  list-style-type: none; }

.app-page {
  text-align: center; }

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px; }

/* Color/shape of close button cross */
.bm-cross {
  background: #e0e0e0;
  width: 2px !important;
  height: 13px !important; }

/* General sidebar styles */
.bm-menu {
  background: #373a47;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em; }
  .bm-menu .logo {
    margin-bottom: 15px; }
    .bm-menu .logo img {
      width: 73.666px;
      height: 34.697px; }

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47; }

/* Wrapper for item list */
.bm-item-list a {
  color: #d3d3d3;
  padding: 0.25em; }
  .bm-item-list a:hover, .bm-item-list a:focus {
    color: #fff;
    text-decoration: none; }

.bm-item-list .nav-link-counter {
  right: 0; }

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3); }

.burger {
  display: none;
  width: 22px;
  height: 22px;
  position: relative; }
  .burger img {
    width: 100%;
    height: 100%;
    opacity: 0.95; }
  .burger .nav-link-counter {
    right: -11px;
    top: -6px;
    margin: 0; }

.topbar {
  color: #d3d3d3;
  font-size: 14px;
  background: #11171b;
  position: fixed;
  width: 100%;
  z-index: 100; }
  .topbar-content {
    display: flex;
    align-items: center;
    height: 70px; }
  .topbar-nav {
    display: flex; }
    .topbar-nav-item {
      padding-left: 24px;
      padding-right: 24px; }
  .topbar-auth {
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: 0; }
    .topbar-auth .exit-btn {
      width: 21px;
      height: 20.351px;
      margin-left: 22px;
      opacity: 0.36;
      transition: opacity .2s ease-in-out;
      cursor: pointer; }
      .topbar-auth .exit-btn:hover {
        opacity: .95; }

.nav-link-counter {
  width: 18px;
  height: 18px;
  position: absolute;
  top: 0;
  bottom: 0;
  right: -28px;
  margin: auto 0;
  border-radius: 50%;
  color: #fff;
  font-size: 11px;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
  line-height: 18px;
  text-align: center;
  background-color: #11caad;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.1); }
  .nav-link-counter:hover, .nav-link-counter.focus {
    color: #fff;
    text-decoration: none; }

a.topbar-nav-link {
  position: relative;
  color: inherit;
  transition: color .2s ease-in-out; }
  a.topbar-nav-link:hover, a.topbar-nav-link:focus, a.topbar-nav-link:visited {
    text-decoration: none; }
  a.topbar-nav-link:hover {
    color: #fff; }

.bm-item-list a {
  position: relative; }

.logo {
  display: flex;
  align-items: center; }
  .logo img {
    width: 81.666px;
    height: 39.697px; }

.main {
  position: relative;
  padding-top: 70px; }

.content-topbar {
  position: relative;
  padding: 12px 0 13px; }
  .content-topbar h2 {
    line-height: 23px; }

.back-btn {
  position: absolute;
  left: 0;
  color: #b4b4b4;
  font-size: 17px;
  line-height: 23px;
  text-decoration: none;
  cursor: pointer; }
  .back-btn:hover, .back-btn:focus, .back-btn:visited {
    color: #b4b4b4;
    text-decoration: none; }

.content-wrap {
  display: inline-block; }
  .content-wrap.schedule {
    width: 100%;
    max-width: 928px; }

.spinner {
  width: 50px;
  height: 50px;
  margin: 80px; }

.content {
  padding: 11px 46px 30px;
  text-align: left;
  border-radius: 4px;
  background-color: #ffffff;
  box-shadow: 0 0 18px 0, 0, 0, 0.04; }
  .content .content-label {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding-top: 15px;
    padding-bottom: 9px; }
    .content .content-label h1, .content .content-label h5 {
      margin: 0 auto 0 0;
      line-height: 1; }
    .content .content-label input {
      max-width: 285px;
      margin-right: 10px; }
    .content .content-label .button {
      margin-left: 20px; }

.sections {
  width: 100%;
  display: flex;
  flex-flow: column;
  padding-top: 15px; }
  .sections .button {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 9px; }
    .sections .button:last-child {
      margin-bottom: 0; }

.default-table {
  table-layout: fixed;
  width: 100%;
  font-size: 15px;
  vertical-align: middle;
  border-radius: 7px;
  border: 1px solid #d0d0d0;
  border-spacing: 0; }
  .default-table thead {
    font-weight: normal; }
  .default-table tbody tr:nth-child(2n+1) {
    background: #F8F6F8; }
  .default-table td {
    padding: 2px 8px;
    outline: 0;
    overflow: hidden;
    text-overflow: ellipsis; }
    .default-table td a, .default-table td span {
      margin-right: 8px;
      display: inline-block; }
      .default-table td a:last-child, .default-table td span:last-child {
        margin-right: 0; }
  .default-table td.normal {
    width: 147px; }
  .default-table td.small {
    width: 100px; }
  .default-table td.xsmall {
    width: 63px; }
  .default-table td.xxsmall {
    width: 38px; }
  .default-table.vertical {
    max-width: 440px; }
    .default-table.vertical td:first-child {
      font-family: RobotoMedium, sans-serif; }

.table-footer > div {
  margin-top: 4px; }
  .table-footer > div h5 {
    display: inline-block;
    margin-right: 5px; }

.content-box {
  width: 100%;
  max-width: 1040px;
  display: flex;
  flex-flow: column; }
  .content-box-row {
    display: flex; }
  .content-box-cell {
    width: 100%;
    margin-right: 45px;
    flex-grow: 1; }
    .content-box-cell:last-child {
      margin-right: 0; }
    .content-box-cell p {
      margin-bottom: 0; }

.footer {
  color: #b4b4b4;
  font-size: 14px;
  line-height: 17px;
  padding-top: 17px;
  padding-bottom: 38px; }

/* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px) {
  /**/ }

/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
  .main {
    padding-top: 60px; }
  .topbar {
    font-size: 13px; }
    .topbar-content {
      height: 60px; }
  .logo img {
    width: 66.666px;
    height: 31.697px; }
  .content {
    padding: 11px 25px 30px; }
    .content .content-label {
      display: flex;
      justify-content: flex-end;
      flex-wrap: wrap; }
      .content .content-label h1 {
        font-size: 21px; }
      .content .content-label a {
        width: auto;
        font-size: 11px; }
      .content .content-label input {
        max-width: 100%;
        margin-right: 0;
        order: 3;
        margin-top: 9px; }
      .content .content-label .button {
        width: auto;
        padding: 6px 10px; }
  .content-box-row {
    display: block;
    margin-bottom: 0; }
    .content-box-row:last-child .content-box-cell:last-child {
      margin-bottom: 0; }
  .content-box-cell {
    margin-right: 0;
    margin-bottom: 20px;
    max-width: 440px; }
  .default-table {
    max-width: 440px; }
    .default-table thead {
      display: none; }
    .default-table tr {
      display: block; }
    .default-table td {
      display: block; }
      .default-table td:first-child {
        font-family: RobotoMedium, sans-serif; }
    .default-table.vertical tr {
      display: table-row; }
    .default-table.vertical td {
      display: table-cell; }
      .default-table.vertical td:first-child {
        font-family: Roboto, sans-serif; } }

/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
  h2 {
    font-size: 17px; }
  .back-btn {
    font-size: 15px; }
  .main {
    padding-top: 50px; }
  .topbar {
    font-size: 12px; }
  .topbar-content {
    justify-content: space-between;
    height: 50px; }
  .logo {
    display: none; }
  .topbar-nav {
    display: none; }
  .burger {
    display: block; }
  .rc-calendar-fullscreen .rc-calendar-cell .rc-calendar-date, .rc-calendar-fullscreen .rc-calendar-month-panel-cell .rc-calendar-month-panel-month {
    display: block;
    height: 63px; }
  /*Disable Animation on Mobile Devices*/
  .animated {
    /*CSS transitions*/
    -o-transition-property: none !important;
    -moz-transition-property: none !important;
    -ms-transition-property: none !important;
    -webkit-transition-property: none !important;
    transition-property: none !important;
    /*CSS transforms*/
    -o-transform: none !important;
    -moz-transform: none !important;
    -ms-transform: none !important;
    -webkit-transform: none !important;
    transform: none !important;
    /*CSS animations*/
    -webkit-animation: none !important;
    -moz-animation: none !important;
    -o-animation: none !important;
    -ms-animation: none !important;
    animation: none !important; } }

@media only screen and (max-width: 643px) {
  .rc-calendar-fullscreen .rc-calendar-cell .rc-calendar-date, .rc-calendar-fullscreen .rc-calendar-month-panel-cell .rc-calendar-month-panel-month {
    display: block;
    height: 43px; } }

/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
  .rc-calendar-fullscreen .rc-calendar-cell .rc-calendar-date, .rc-calendar-fullscreen .rc-calendar-month-panel-cell .rc-calendar-month-panel-month {
    display: block;
    height: 33px; } }

@media only screen and (max-width: 356px) {
  .rc-calendar-full {
    width: 100%; } }

/* Custom, iPhone Retina */
@media only screen and (max-width: 320px) {
  /**/ }

/*==========  Mobile First Method  ==========*/
/* Custom, iPhone Retina */
@media only screen and (min-width: 320px) {
  /**/ }

/* Extra Small Devices, Phones */
@media only screen and (min-width: 480px) {
  /**/ }

/* Small Devices, Tablets */
@media only screen and (min-width: 768px) {
  /**/ }

/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {
  /**/ }

/* Large Devices, Wide Screens */
@media only screen and (min-width: 1200px) {
  /**/ }
